* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}

header {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.combo {

    width: 1190px;
    height: 100px;
    display: flex;
}

.bandeiras {
    display: flex;
    justify-content: flex-end;
    padding: 0 35px;

}

.bandeiras a img {
    width: 25px;
    height: 25px;
    margin: 3px;

}


.headerLogo {
    display: flex;
    flex: 1;

}

.headerLogo a img {
    width: 200px;
}

.headerContact {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.headerContact a {
    font-size: 20px;
    text-align: center;
}

.itensName {
    margin-bottom: 8px;
    color: #004356;
    text-transform: uppercase;
}

.itensdesc {
    margin-bottom: 8px;
    color: #004356;
    text-transform: uppercase;
}

.dif {
    font-weight: bold;
}

.itenslogo {
    font-size: 27px;
    color: #004356;
}

.namelogo {
    font-size: 17px;
    color: #97999e;
}

.itens {
    text-decoration: none;
}


.menu {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #ebebeb;
}

nav {
    background-color: #ebebeb;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

nav ul {
    display: flex;

}

nav a {
    display: block;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: #707084;
    font-weight: bold;
    font-size: 15px;
    background-color: #ebebeb;
}

nav a:hover {

    color: #323235;

}


#banner {

    background-image: url('../img/marco.jpg');
    background-position: center;
    background-size: cover;
    height: 450px;


}

#promo {
    display: flex;
    justify-content: center;
    height: 350px;
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.promo h1 {
    text-transform: uppercase;
    color: #004356;
    font-size: 40px;
    font-weight: bold;

}

.line {
    height: 7px;
    width: 150px;
    background-color: #004356;
    margin-top: 8px;
    margin-bottom: 8px;
}

.promo h2 {
    text-transform: uppercase;
    color: #004356;
    font-size: 29px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 15px 30px;
    background-color: #38a4dc;
    color: #fff;

    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#banner1 {
    background-image: url('../img/marco1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    color: #fff;
    text-align: center;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.lineBanner {
    text-align: center;
    width: 150px;
    height: 7px;
    background-color: #fff;
    display: block;
}

.item h2 {
    margin-top: 15px;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.item p {
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
}

.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#passeios {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.containerInfo {
    display: flex;
    color: #fff;

    flex-direction: column;
    width: 990px;
    
}

.info1 h1 {
    text-transform: uppercase;
    color: #004356;
    font-size: 38px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 15px;
}

.lineBannerInfo {
    height: 7px;
    width: 150px;
    background-color: #004356;
    margin-bottom: 15px;
}

.coments {
    color: #004356;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.info2 {
    display: flex;
    justify-content: space-evenly;
    
    
}

.infocard {
    height: auto;
    width: 100%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.infocard a {
    text-decoration: none;
}



.infocard .img {
    width: 350px;
    height: 290px;
    background-position: center;
    background-size: cover;
}

.btncard {
    padding: 15px 30px;
    background-color: #3c8cb5;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.btncard:hover {
    background-color: #38a4dc;
    transition: .5s;
}

.title {
    color: #004356;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: bold;
    padding: 0 8px;
}

.price {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #004356;
    padding: 0 8px;
}

#trip {
    display: flex;
    justify-content: center;
    background-image: url('../img/cataratas_do_iguacu.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    align-items: center;
    opacity: 200%;
}

.trip {
    text-align: center;
}

.trip img {

    height: 50px;
}

.trip h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

#inscrever {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc h1 {
    font-size: 40px;
    color: #004356;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.desc h2 {
    font-size: 30px;
    color: #004356;
    margin-bottom: 50px;
}

.desc form {
    display: flex;
    flex-direction: column;
}

.desc form input {
    padding: 18px 10px;
    width: 650px;
    margin: 10px;
    display: block;
    border: 1px solid #adadb8;
    font-size: 15px;
    border-radius: 4px;
}

#input {
    background-color: #00aeef;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#input:hover {
    background-color: #74d7fc;
    transform: 0.8s;
}

#linha{
    margin-top: 70px;
    height: 5px;
    background-color: #00aeef;
    width: 750px;
}


footer {
    background-color:#0075b2;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.infoFooter{
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    padding-top: 90px;
}

.central, .atendimento, .informacoes{
    
    color: #fff;
}

.text{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact, .contact1, .email{
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.ion{
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.ion p ion-icon{
    color: #004356;
    font-size: 35px;
}

.ion:hover{
    background-color: #ccdbe2;
    transition: 0.7s;
}


.icon{
    display: flex;
}

.infoFooter1{
    
    display: flex;
    
}

.teste{
    background-color: #000;
    height: 80px;
    width: 100%;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.teste p strong{
    cursor: pointer;
}

.teste a{
    margin: 10px;
    color: #fff;
    font-size: 25px;
}


@media (min-width: 320px) and (max-width: 770px){
    
    .info2{
       flex-wrap: wrap;
    }

    .menu {
        display: none;
    }

    .combo{
        display: block;
    }

    .headerLogo{
        justify-content: center;
    }

    .headerContact{
        display: none;
    }

    #promo h1,
    #banner1 h1,
    #inscrever h1{
        font-size: 28px;
    }

    #promo h2,
    #banner1 h2
    {
        font-size: 20px;
        padding-left: 5px
    }

    #passeios h1{
        font-size: 28px;
    }
    #passeios .coments{
        font-size: 20px;
        padding: 15px;
    }

    .info2 .infocard{
        width: 315px;
    }

    .infocard a .img {
        width: 300px;
    }

    .infocard .btncard{
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    
    #inscrever h2{
        display: none;
    }

    .desc form input{
        width: 300px;
    }

    #linha{
        width: 300px;
    }

    .infoFooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .central .icon{
        justify-content: center;
        margin-bottom: 50px;
    }

    .infoFooter .atendimento{
        margin-bottom: 25px;
    }

    @media (max-width: 700px){


        
    }

}

@media (min-width: 769px) and (max-width: 1024px){

    .promo h2 {
        text-align: center;
    }

    .info2 .infocard
    {
        width: 300px;
    }

    .info2 .img{
        width: 290px;
    }

    .infocard a .title{
        font-size: 15px;
    }
}